<div class="center-block">
<div class="wrapper fadeInDown" style="margin-top: 150px;">
	<div id="formContent">
	  <!-- Tabs Titles -->
  
	  <!-- Icon -->
	  <div class="fadeIn first">
		<img src="assets/food-truck.png" style="width: 150px; height: 150px; margin: 50px;" id="icon" alt="User Icon" />
	  </div>
  
	  <!-- Login Form -->
	  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
		<input type="text" id="login" class="fadeIn second" placeholder="login" formControlName="usuario">
		<input type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password">
		<input type="submit" class="fadeIn fourth" value="Ingresar">
		<a href="http://localhost:4200/registro" class="fadeIn fourth">Registrarse</a>
	  </form>

	</div>
</div>
</div>